@{
    ViewBag.Title = "ListadoLibros";
    var libros = ViewData["Libros"] as List<BibliotecaModelos.Entities.Libro>;
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2 class="text-center">ListadoLibros</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-bordered" id="tablaLibros">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Coleccion</th>
                            <th>Fecha Primera Edicion</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (libros != null && libros.Count > 0)
                        {
                            foreach (var libro in libros)
                            {
                                <tr>
                                    <td><button>Detalle</button></td>
                                    <td>@libro.Titulo</td>
                                    @if (libro.Autor == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@libro.Autor</td>
                                    }
                                    @if (libro.Editorial == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@libro.Editorial</td>
                                    }
                                    @if (libro.Coleccion == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@libro.Coleccion</td>
                                    }
                                    @if (libro.FechaPrimeraEdicion == null)
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@libro.FechaPrimeraEdicion</td>
                                    }



                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No se encontraron libros.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>